In [1]:
pip install pandas

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.25.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pip install influxdb

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: influxdb in /opt/conda/lib/python3.10/site-packages (5.3.1)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.10/site-packages (from influxdb) (1.16.0)
Requirement already satisfied: msgpack in /opt/conda/lib/python3.10/site-packages (from influxdb) (1.0.5)
Requirement already satisfied: requests>=2.17.0 in /opt/conda/lib/python3.10/site-packages (from influxdb) (2.28.2)
Requirement already satisfied: pytz in /opt/conda/lib/python3.10/site-packages (from influxdb) (2023.2)
Requirement already satisfied: python-dateutil>=2.6.0 in /opt/conda/lib/python3.10/site-packages (from influxdb) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.17.0->influxdb) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.17.0->influxdb) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.17.0->influxdb) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.17.0->influxdb) (3.4)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [4]:
from influxdb import DataFrameClient

In [5]:
from influxdb import InfluxDBClient

In [6]:
df=pd.read_csv('data.csv')

In [7]:
df

      DocumentId  PartnerId DocumentDate               City  Sales
0         756724      11555     1/3/2022        CLUJ NAPOCA    246
1         756728      11119     1/3/2022               ARAD    831
2         756737        484     1/3/2022       PIATRA NEAMT    333
3         756740        331     1/3/2022             BRASOV  1,391
4         756755        554     1/3/2022            CRAIOVA    893
...          ...        ...          ...                ...    ...
9813      841561      11572   12/30/2022              BACAU  1,255
9814      841562       4596   12/30/2022  ODORHEIU SECUIESC  1,170
9815      841571       6448   12/30/2022            RADAUTI    763
9816      841578      12467   12/30/2022             BRASOV  1,060
9817      843594       4878   12/30/2022          GHIDFALAU  1,415

[9818 rows x 5 columns]

In [8]:
# -------------------------------------------------------------------------
# FRM Analysis
# -------------------------------------------------------------------------

In [9]:
# -------------------------------------------------------------------------
# 1. Frequency

In [10]:
# Group the data by partnerID and calculate the frequency of purchases
frequency_table = df.groupby('PartnerId')['Sales'].count().reset_index()

In [11]:
# Rename the column to represent the frequency of purchases
frequency_table.rename(columns={'Sales': 'Purchase Frequency'}, inplace=True)

In [12]:
# Sort the frequency table in descending order based on purchase frequency
frequency_table.sort_values(by='Purchase Frequency', ascending=False, inplace=True)

In [13]:
# Reset the index after sorting
frequency_table.reset_index(drop=True, inplace=True)

In [14]:
frequency_table.head(15)

    PartnerId  Purchase Frequency
0        1098                 401
1        8655                 162
2         316                 161
3        6050                 121
4         554                 119
5        4518                 111
6         162                 109
7        6246                  99
8       11119                  90
9         524                  83
10        780                  80
11       9080                  77
12       8456                  76
13       8191                  75
14       1106                  71

In [15]:
# Export to csv file
frequency_table.to_csv('frequency_table.csv', index=False)

In [16]:
# -------------------------------------------------------------------------
# 2. Recency

In [17]:
# Convert 'documentDate' column to datetime format
df['DocumentDate'] = pd.to_datetime(df['DocumentDate'], format='%m/%d/%Y')

In [18]:
# Sort the data based on documentDate in descending order
sorted_data = df.sort_values(by='DocumentDate', ascending=False)

In [19]:
most_recent_customers = sorted_data[['PartnerId', 'DocumentDate']]

In [20]:
# Reset the index
most_recent_customers.reset_index(drop=True, inplace=True)

In [21]:
most_recent_customers.head(15)

    PartnerId DocumentDate
0        4878   2022-12-30
1         331   2022-12-30
2         554   2022-12-30
3       12653   2022-12-30
4         331   2022-12-30
5        1019   2022-12-30
6       11572   2022-12-30
7        4596   2022-12-30
8        6448   2022-12-30
9       12467   2022-12-30
10      11159   2022-12-29
11       7047   2022-12-29
12       8655   2022-12-29
13      11414   2022-12-29
14       9975   2022-12-29

In [22]:
# Export to csv file
most_recent_customers.to_csv('most_recent_customers.csv', index=False)

In [23]:
# -------------------------------------------------------------------------
# 3. Monetary Value

In [24]:
dataframe=pd.read_csv('data.csv')

In [25]:
dataframe['Sales'] = pd.to_numeric(dataframe['Sales'], errors='coerce')

In [26]:
# Group the data by partnerID and calculate the sum of Sales
amount_spent = dataframe.groupby('PartnerId')['Sales'].sum().reset_index()

In [27]:
# Sort the amount_spent table in descending order based on the sum of Sales
amount_spent.sort_values(by='Sales', ascending=False, inplace=True)

In [28]:
# Reset the index after sorting
amount_spent.reset_index(drop=True, inplace=True)

In [29]:
amount_spent['Sales'] = amount_spent['Sales'].astype(int)

In [30]:
amount_spent.head(15)

    PartnerId   Sales
0        1098  122128
1        6050   54052
2        8655   53168
3         316   49887
4        4518   41478
5        6246   37601
6       10599   32442
7       11119   31367
8         162   29484
9        6557   27471
10        780   26886
11        554   25887
12       7189   25618
13      11255   24071
14       6173   23848

In [31]:
# Export to csv file
amount_spent.to_csv('amount_spent.csv', index=False)

In [32]:
# -------------------------------------------------------------------------
# Creating a scoring table

In [33]:
# Read the CSV files into DataFrames
frequency = pd.read_csv('frequency_table.csv')
recency = pd.read_csv('most_recent_customers.csv')
monetary_value = pd.read_csv('amount_spent.csv')

In [34]:
frequency.sort_values(by='PartnerId', ascending=False, inplace=True)
recency.sort_values(by='PartnerId', ascending=False, inplace=True)
monetary_value.sort_values(by='PartnerId', ascending=False, inplace=True)

In [35]:
# Merge the tables by concatenating vertically
merged_table = pd.concat([frequency, recency['DocumentDate'], monetary_value['Sales']], axis=1)

In [36]:
merged_table['PartnerId'] = pd.to_numeric(merged_table['PartnerId'], errors='coerce')

In [37]:
merged_table.head(30)

     PartnerId  Purchase Frequency DocumentDate   Sales
813    12812.0                 1.0   2022-11-22  -644.0
686    12809.0                 1.0   2022-11-28   208.0
560    12807.0                 2.0   2022-12-05   607.0
684    12802.0                 1.0   2022-11-28   211.0
683    12801.0                 1.0   2022-11-28   217.0
682    12799.0                 1.0   2022-11-28   217.0
681    12798.0                 1.0   2022-11-28   222.0
680    12797.0                 1.0   2022-11-28   229.0
679    12793.0                 1.0   2022-11-28   246.0
678    12782.0                 1.0   2022-11-28   246.0
677    12772.0                 1.0   2022-11-28   246.0
538    12761.0                 3.0   2022-12-06   715.0
559    12760.0                 2.0   2022-12-05   617.0
675    12759.0                 1.0   2022-11-28   259.0
664    12755.0                 1.0   2022-11-28   270.0
674    12747.0                 1.0   2022-11-28   266.0
673    12738.0                 1.0   2022-11-28   266.0
558    12736.0                 2.0   2022-12-05   618.0
672    12733.0                 1.0   2022-11-28   266.0
671    12731.0                 1.0   2022-11-28   266.0
670    12730.0                 1.0   2022-11-28   266.0
517    12728.0                 3.0   2022-12-06   808.0
668    12727.0                 1.0   2022-11-28   268.0
423    12724.0                 5.0   2022-12-12  1337.0
666    12722.0                 1.0   2022-11-28   270.0
665    12718.0                 1.0   2022-11-28   270.0
687    12716.0                 1.0   2022-11-28   206.0
557    12715.0                 2.0   2022-12-05   627.0
688    12713.0                 1.0   2022-11-28   203.0
556    12706.0                 2.0   2022-12-05   628.0

In [38]:
# Date diff
dt = pd.to_datetime('2022/01/03', format='%Y/%m/%d')
dt1 = pd.to_datetime('2022/12/30', format='%Y/%m/%d')

(dt1-dt).days

361

In [39]:
merged_table['RecencyScore'] = (361 - (pd.to_datetime('2022/12/30', format='%Y/%m/%d') - pd.to_datetime(merged_table['DocumentDate'], format='%Y-%m-%d')).dt.days)/ 361 * 100

In [40]:
merged_table['SalesScore'] = ((merged_table['Sales'] - (-644)) / (122128 - (-644))) * 100

In [41]:
merged_table['FrequencyScore'] = ((merged_table['Purchase Frequency'] - 1) / (401 - 1)) * 100

In [42]:
merged_table['Total'] = (merged_table['RecencyScore'] + merged_table['SalesScore'] + merged_table['FrequencyScore']) / 3

In [43]:
merged_table.sort_values(by='Total', ascending=False, inplace=True)

In [46]:
merged_table.to_csv('CustomersRanking.csv', index=False)

In [45]:
merged_table.head(40)

,PartnerId,Purchase Frequency,DocumentDate,Sales,RecencyScore,SalesScore,FrequencyScore,Total
0,1098.0,401.0,2022-12-30,122128.0,100.000000,100.000000,100.00,100.000000
1,8655.0,162.0,2022-12-30,54052.0,100.000000,44.550875,40.25,61.600292
2,316.0,161.0,2022-12-30,53168.0,100.000000,43.830841,40.00,61.276947
3,6050.0,121.0,2022-12-30,49887.0,100.000000,41.158407,30.00,57.052802
4,554.0,119.0,2022-12-30,41478.0,100.000000,34.309126,29.50,54.603042
5,4518.0,111.0,2022-12-30,37601.0,100.000000,31.151240,27.50,52.883747
6,162.0,109.0,2022-12-30,32442.0,100.000000,26.949141,27.00,51.316380
7,6246.0,99.0,2022-12-30,31367.0,100.000000,26.073535,24.50,50.191178
8,11119.0,90.0,2022-12-30,29484.0,100.000000,24.539797,22.25,48.929932
9,524.0,83.0,2022-12-30,27471.0,100.000000,22.900173,20.50,47.800058
10,780.0,80.0,2022-12-29,26886.0,99.722992,22.423680,19.75,47.298890
11,9080.0,77.0,2022-12-29,25887.0,99.722992,21.609976,19.00,46.777656
12,8456.0,76.0,2022-12-29,25618.0,99.722992,21.390871,18.75,46.621288
13,8191.0,75.0,2022-12-29,24071.0,99.722992,20.130812,18.50,46.117934
14,1106.0,71.0,2022-12-29,23848.0,99.722992,19.949174,17.50,45.724055
15,342.0,70.0,2022-12-29,23503.0,99.722992,19.668165,17.25,45.547052
16,12083.0,69.0,2022-12-29,23443.0,99.722992,19.619294,17.00,45.447429
17,6027.0,66.0,2022-12-29,22615.0,99.722992,18.944873,16.25,44.972622
18,11255.0,65.0,2022-12-29,22166.0,99.722992,18.579155,16.00,44.767382
19,6130.0,60.0,2022-12-29,21658.0,99.722992,18.165380,14.75,44.212790
20,6557.0,59.0,2022-12-29,21658.0,99.722992,18.165380,14.50,44.129457
21,9676.0,58.0,2022-12-29,21340.0,99.722992,17.906363,14.25,43.959785
22,882.0,58.0,2022-12-29,21228.0,99.722992,17.815137,14.25,43.929376
23,1809.0,57.0,2022-12-29,19932.0,99.722992,16.759522,14.00,43.494171
24,1387.0,57.0,2022-12-28,19751.0,99.445983,16.612094,14.00,43.352692
25,10899.0,57.0,2022-12-28,19630.0,99.445983,16.513537,14.00,43.319840
26,10771.0,54.0,2022-12-28,19620.0,99.445983,16.505392,13.25,43.067125
27,8362.0,54.0,2022-12-28,19206.0,99.445983,16.168182,13.25,42.954722
28,9593.0,53.0,2022-12-28,18827.0,99.445983,15.859479,13.00,42.768488
29,690.0,52.0,2022-12-28,18434.0,99.445983,15.539374,12.75,42.578452
30,10599.0,49.0,2022-12-28,18383.0,99.445983,15.497833,12.00,42.314606
31,624.0,49.0,2022-12-28,18121.0,99.445983,15.284430,12.00,42.243471
32,8992.0,49.0,2022-12-28,17801.0,99.445983,15.023784,12.00,42.156589
33,9866.0,49.0,2022-12-28,17539.0,99.445983,14.810380,12.00,42.085455
34,7189.0,48.0,2022-12-28,17306.0,99.445983,14.620598,11.75,41.938860
35,954.0,47.0,2022-12-28,17125.0,99.445983,14.473170,11.50,41.806384
36,12070.0,46.0,2022-12-28,16808.0,99.445983,14.214968,11.25,41.636984
37,113.0,46.0,2022-12-28,16597.0,99.445983,14.043104,11.25,41.579696
38,7287.0,46.0,2022-12-28,15971.0,99.445983,13.533216,11.25,41.409733
39,1141.0,45.0,2022-12-28,15852.0,99.445983,13.436288,11.00,41.294091